.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 30px;
background:#1E293B;
border-bottom:1px solid #334155;
}

.menu-btn{
display:none;
background:none;
border:none;
color:white;
font-size:24px;
cursor:pointer;
}

.search-box{
display:flex;
align-items:center;
gap:10px;
background:#273449;
padding:12px 16px;
border-radius:10px;
width:320px;
}

.search-box input{
background:none;
border:none;
outline:none;
color:white;
width:100%;
}

.navbar-right{
display:flex;
align-items:center;
gap:20px;
}

.icon-btn{
background:none;
border:none;
color:white;
font-size:22px;
cursor:pointer;
}

.profile{
display:flex;
align-items:center;
gap:12px;
}

.avatar{
width:42px;
height:42px;
border-radius:50%;
background:#2563EB;
display:flex;
justify-content:center;
align-items:center;
font-weight:bold;
}

@media(max-width:1024px){

.menu-btn{
display:block;
}

.search-box{
width:220px;
}

}

@media(max-width:700px){

.search-box{
display:none;
}

}