.sidebar{
position:fixed;
left:0;
top:0;
bottom:0;
width:260px;
background:#16213E;
padding:30px 20px;
}

.logo{
margin-bottom:40px;
font-size:28px;
}

.sidebar nav{
display:flex;
flex-direction:column;
gap:12px;
}

.menu{
display:flex;
align-items:center;
gap:15px;
padding:15px;
border-radius:10px;
color:#CBD5E1;
transition:.3s;
}

.menu:hover{
background:#253449;
}

.active{
background:#2563EB;
color:white;
}

@media(max-width:1024px){

.sidebar{
display:none;
}

}